/* header CSS */
header{
    width: 100%;
    height: 250px;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #17abb3 ;
    color: white;

}

div#header__img{
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
}

div#img__a{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: start;
}

img#PDP{
    width: 160px;
    height: 160px;
    border: 6px solid white ;
    border-radius: 100%;
    position: absolute;
}

img#PDP:hover{
    cursor: zoom-in;
}

div#header__informations{
    width: 50%;
}

p#__name{
    margin-top: 10%;
    font-size: 2.9em;
    text-align: center;
    line-height:0;
    font-weight: bolder;
}

p#__job{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    line-height: 1%;
}

address#header__adress{
    margin-top: 5%;
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

div.__icon{

    display: flex;
    width: 50%;
    align-content: center;
}

img.icon{
    display: inline-block;
    align-self: center;
    width: 15px;
    height: 15px;
    margin-right:3px ;

}

a{
    text-decoration: none;
    color: white;
}

p#adress__p{
    display: inline;
    font-size: x-small;
    align-self: center;
}

/* main flexbox CSS settings */

main#main__container{
    height: 1100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

aside#main__block{
    padding: 5% 3% 0 3% ;
    width: 30%;

    background-color: #e3e3e3;
}

section#main__block{
    padding: 5% 3% 0 3% ;
    width: 70%;
    background-color: white;
}

/* Section CSS settings */

    /* Profil css settings  */

hr{
    opacity: 0.3;
    margin-bottom: 2%;
}

p#profil__text{
    text-align: justify;
    text-indent: 3%;
}

    /* Formation, Internship and Profesional Experiences CSS Settings */

div.FIPE__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    margin-bottom: 1%;

}

p.FIPE__name{
    margin: 0%;
    font-size: larger;
    font-weight: bolder;
}
p.FIPE__location{
    margin: 0%;
    font-style: italic;
}
.FIPE__date{
    color: #17abb3;
    font-weight: bolder;
}

article{
    margin-bottom: 4%;
}

/* footer CSS Settings */

footer{
    height: 100px;
    width: 100%;
    background-color: #17abb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#social{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

div#update>p{
    font-style: italic;
    color: white;
    font-weight: 300;
    font-size: smaller;
    margin: 5% 0 0 0;

}

img.__social:hover{
    opacity: 0.5;
}
